@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-family-sans: "Roboto Condensed", sans-serif;
    --font-size-responsive: clamp(2rem, 5vw, 3.2rem);
    --line-height: 1.5;
    --font-weight: 400;

    --text-color-light: oklch(26.03% 0 0);
    --text-color-dark: oklch(100% 0 0);
    --bg-color-light: oklch(100% 0 0);
    --bg-color-dark: oklch(0% 0 0);

    --color-primary: oklch(60.7% 0.214553 275.6035);
    --color-secondary: oklch(55.73% 0.222 274.27);
    --color-tertiary: oklch(50.73% 0.222 274.27);
    --color-quaternary: oklch(45.73% 0.222 274.27);
    --color-quinary: oklch(40.73% 0.222 274.27);
    --color-senary: oklch(35.73% 0.222 274.27);
    --color-septenary: oklch(30.73% 0.222 274.27);
    --color-octonary: oklch(25.73% 0.222 274.27);
    --color-nonary: oklch(20.73% 0.222 274.27);
    --color-denary: oklch(15.73% 0.222 274.27);
    --color-success: oklch(83.51% 0.0561 143.44);
    --color-error: oklch(70.73% 0.1847 25.94);
    --color-info: oklch(77.89% 0.0807 222.36);

    --screen-xs: 480px;
}

@layer components {
    .btn {
        @apply rounded-lg px-4 py-2 bg-secondary text-dark cursor-pointer transition-colors border duration-300 hover:border-quaternary hover:bg-quaternary;
    }

    .avatar-sm {
        @apply w-12 h-12 rounded-full p-2;
    }

    .avatar-md {
        @apply w-16 h-16 rounded-full p-2;
    }

    .avatar-lg {
        @apply w-20 h-20 rounded-full p-2;
    }
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility main-container {
    @apply flex-center w-full h-full;
}

@utility text-responsive {
    font-size: clamp(2rem, 5vw, 3.2rem);
}

:root {
    font-family: var(--font-family-sans);
    line-height: var(--line-height);
    font-weight: var(--font-weight);

    color-scheme: light dark;
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
    /* color: #ffffff;
  background-color: #242424; */
}

#root {
    width: 100%;
    /* height: 100vh; */
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 350px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
